
<div style="margin-top: 10px; ">
    <div class="row" style="background: oldlace; padding: 12px; border-bottom: 1px solid rgb(244, 244, 244);    display: flex;">
      <img src="https://frontend.tikicdn.com/_desktop-next/static/img/giasoc.svg" alt="flash deal">
      <img width="21" src="https://frontend.tikicdn.com/_desktop-next/static/img/dealFlashIcon.svg" alt="flash deal">
      <img src="https://frontend.tikicdn.com/_desktop-next/static/img/homnay.svg" alt="flash deal">
      <div class="ccRlPb" style="position: absolute;  right: 147px;">
        <span>01</span>:
        <span class="min">32</span>:
        <span>09</span>
      
      </div>
    </div>

        <!-- Sản phẩm Sale -->
    <div class="row items"  style="  min-height: 50px; background: white;">
              
      <div class="col-sm-3 hotsp">
        <div class="sp">
          <a href="">

            <!-- anh -->
            <div>
              <img style="margin-top: 3px;" src="IMG/sach/docnhieunhobaonhie.jpg" class="col-sm-12" alt="">
            </div>
            <!-- Title -->
            <h2>
              <a class="sachtitle">Đọc nhiều nhớ được bao nhiêu</a>
            </h2>
            <!-- Gia -->
            <div class="salegia">
              <span style="color: red;">99.000đ</span>
              <span class="DTL">-30%</span>
            </div>

            <!-- Thanh sale -->
            <div class="sale-item__lower-wrapper">
              <div class="sale-item__lower-left">
                  <div class="sale-progress-bar">
                    <div class="sale-progress-bar__text">Sắp cháy hàng</div>
                    <div class="sale-progress-bar__complement-wrapper">
                      <!-- Thay đổi -->
                      <div class="sale-progress-bar__complement-sizer" style="width: 31%;">
                        <div class="sale-progress-bar__complement-color"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </a>
        </div>
      </div>

      <div class="col-sm-3 hotsp">
        <div class="sp">
          <a href="">

            <!-- anh -->
            <div>
              <img style="margin-top: 3px;" src="IMG/sach/thamtuquaivat.jpg" class="col-sm-12" alt="">
            </div>
            <!-- Title -->
            <h2>
              <a class="sachtitle">Văn Phòng Thám Tử Quái Vật-Tập 1</a>
            </h2>
            
            <!-- Gia -->
            <div class="salegia">
              <span style="color: red;">30.000đ</span>
              <span class="DTL">-10%</span>
            </div>

            <!-- Thanh sale -->
            <div class="sale-item__lower-wrapper">
              <div class="sale-item__lower-left">
                  <div class="sale-progress-bar">
                    <div class="sale-progress-bar__text">Đã bán 8</div>
                    <div class="sale-progress-bar__complement-wrapper">
                      <!-- Thay đổi -->
                      <div class="sale-progress-bar__complement-sizer" style="width: 57%;">
                        <div class="sale-progress-bar__complement-color"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </a>
        </div>
      </div>
      
      <div class="col-sm-3 hotsp">
        <div class="sp">
          <a href="">

            <!-- anh -->
            <div>
              <img style="margin-top: 3px;" src="IMG/sach/saochungtalainghu.jpg" class="col-sm-12" alt="">
            </div>
            <!-- Title -->
            <h2>
              <a class="sachtitle">Sao chúng ta lại ngủ - Why We Sleep</a>
            </h2>

            <!-- Gia -->
            <div class="salegia">
              <span style="color: red;">174.000đ</span>
              <span class="DTL">-10%</span>
            </div>

            <!-- Thanh sale -->
            <div class="sale-item__lower-wrapper">
              <div class="sale-item__lower-left">
                  <div class="sale-progress-bar">
                    <div class="sale-progress-bar__text">Đã bán 12</div>
                    <div class="sale-progress-bar__complement-wrapper">
                      <!-- Thay đổi -->
                      <div class="sale-progress-bar__complement-sizer" style="width: 70%;">
                        <div class="sale-progress-bar__complement-color"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </a>
        </div>
      </div>

      <div class="col-sm-3 hotsp">
        <div class="sp">
          <a href="">

            <!-- anh -->
            <div>
              <img style="margin-top: 3px;" src="IMG/sach/dangoaithanhthoi.jpg" class="col-sm-12" alt="">
            </div>
            <!-- Title -->
            <h2>
              <a class="sachtitle">Dã Ngoại Thảnh Thơi - Yurucamp - Tập 8 - Tặng Kèm PVC Check in Card</a>
            </h2>

            <!-- Gia -->
            <div class="salegia">
              <span style="color: red;">30.000đ</span>
              <span class="DTL">-10%</span>
            </div>

            <!-- Thanh sale -->
            <div class="sale-item__lower-wrapper">
              <div class="sale-item__lower-left">
                  <div class="sale-progress-bar">
                    <div class="sale-progress-bar__text">Đã bán 120</div>
                    <div class="sale-progress-bar__complement-wrapper">
                      <!-- Thay đổi -->
                      <div class="sale-progress-bar__complement-sizer" style="width: 10%;">
                        <div class="sale-progress-bar__complement-color"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </a>
        </div>
      </div>

      
    </div>
    </div>